@{
    ViewBag.Title = "艺术梦想";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="row">
  <div  class="span12">
  <div id="HomeCarousel" class="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/Files/Images/temp/bootstrap-mdo-sfmoma-01.jpg" alt="" />
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/Files/Images/temp/bootstrap-mdo-sfmoma-02.jpg" alt="" />
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/Files/Images/temp/bootstrap-mdo-sfmoma-03.jpg" alt="" />
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#HomeCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#HomeCarousel" data-slide="next">›</a>
          </div>
  </div>
</div>
<div class="row">

<div class="span12">
<div class="well">
<marquee direction="left"><a href="http://baidu.com">“星星火炬-皇家少儿杯”全国英语展示活动天津选区  已圆满落下帷幕！感谢各校领导及有关部门的大力支持</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://baidu.com">“星星火炬-皇家少儿杯”全国英语展示活动天津选区  已圆满落下帷幕！感谢各校领导及有关部门的大力支持</a> &nbsp;&nbsp;&nbsp;&nbsp;</marquee>
</div>

</div>
</div>


<div class="row">
<div id="eventsOverView" class="span4 relative overview">
<h3>赛事花絮</h3>
<a href="#" class="more">更多+</a>
<div class="well">
<div id="events_slides">
<div class="slides_container">
                <div>
                    <img src="/Files/Images/temp/demo-pic1.gif">
                </div>
                <div>
                    <img src="/Files/Images/temp/demo-pic2.gif">
                </div>
                <div>
                    <img src="/Files/Images/temp/demo-pic3.png">
                </div>
                <div>
                    <img src="/Files/Images/temp/demo-pic4.jpg">
                </div>
            </div>
</div>
</div>
</div>
<div id="newMovies" class="span4 relative overview">
<h3>新片速递</h3>
<a href="#" class="more">更多+</a>
<div class="well">
<ol class="unstyled">
<li>
<embed src="http://player.youku.com/player.php/sid/XMzk3NTEzOTI4/v.swf" allowFullScreen="true" quality="high" width="320" height="240" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></li>
</ol>
</div>
</div>
<div id="newNotices" class="span4 relative overview">
<h3>最新公告</h3>
@Html.ActionLink("更多+", "Index", "Notice", new { }, new { @class = "more" })
<div class="well">
<ul class="unstyled noticeList">
    <li><a href="#" title="“星星火炬”复赛评选内容">“星星火炬”复赛评选内容 </a></li>
	<li><a href="#" title="“星星火炬”进入复赛选手须知">“星星火炬”进入复赛选手须知 </a></li>
	<li><a href="#" title="“星星火炬”成绩查询系统已开通">“星星火炬”成绩查询系统已开通 </a></li>
	<li><a href="#" title="“星星火炬”英语大赛天津选区日程安排！">“星星火炬”英语大赛天津选区日程安排！ </a></li>
	<li><a href="#" title="“星星火炬”英语大赛天津选区宣传单出炉！">“星星火炬”英语大赛天津选区宣传单出炉！ </a></li>
	<li><a href="#" title="光大·爱心宝宝七彩阳光展评活动盛大启动">光大·爱心宝宝七彩阳光展评活动盛大启动 </a></li>
	<li><a href="#" title="新闻发布会召开在即 主流媒体齐聚北京">新闻发布会召开在即 主流媒体齐聚北京 </a></li>
	<li><a href="#" title="光大·爱心宝宝—七彩阳光展评活天津已启动">光大·爱心宝宝—七彩阳光展评活天津已启动 </a></li>
	<li><a href="#" title="光大•爱心宝宝—七彩阳光全国青少年才艺展评暨母亲水窖公益活动火热报名中！">光大•爱心宝宝—七彩阳光全国青少年才艺展评暨母亲水窖公益活动火热报名中</a></li>
	<li><a href="#" title="大 事 记">大 事 记 </a></li>
    <li><a href="#" title="大 事 记">大 事 记2 </a></li>
</ul>
</div>
</div>
</div>
<div class="row">
<div id="showOverview" class="span12 relative overview">
<h3>影视表演</h3>
<a href="#" class="more">更多+</a>
<div class="well pull-left">
<ul class="unstyled">
<li><img src="/Files/Images/temp/CS-CHa1RagYcB.jpg"></li>
<li><img src="/Files/Images/temp/CS-ATCD7Y5zhO.jpg"></li>
<li><img src="/Files/Images/temp/CS-9BiO5ztpP3.jpg"></li>
<li><img src="/Files/Images/temp/CS-W1qW5dWFsJ.jpg"></li>
<li><img src="/Files/Images/temp/CS-Q8inivNZho.jpg"></li>
<li><img src="/Files/Images/temp/CS-Q8inivNZho.jpg"></li>
<li><img src="/Files/Images/temp/CS-QUSgvx6ouZ.jpg"></li>
</ul>
</div>
</div>
</div>
<div class="row">

<div id="skillOverView" class="span8 relative overview">
<h3>表演与特技</h3>
<a href="#" class="more">更多+</a>
<div class="well pull-left">
<ul class="unstyled">
<li><img src="/Files/Images/temp/CS-CHa1RagYcB.jpg"></li>
<li><img src="/Files/Images/temp/CS-ATCD7Y5zhO.jpg"></li>
<li><img src="/Files/Images/temp/CS-9BiO5ztpP3.jpg"></li>
<li><img src="/Files/Images/temp/CS-W1qW5dWFsJ.jpg"></li>
<li><img src="/Files/Images/temp/CS-Q8inivNZho.jpg"></li>
<li><img src="/Files/Images/temp/CS-Q8inivNZho.jpg"></li>
</ul>
</div>
</div>
<div id="ambassadorOverview" class="span4 relative overview">
<h3>形象大使</h3>
<a href="#" class="more">更多+</a>
<div class="well pull-left">
<ul class="unstyled">
<li>
<a href="#"><img src="/Files/Images/temp/CS-FXqPh3Hw88.jpg" />张斯羿</a>
</li>
<li>
<a href="#"><img src="/Files/Images/temp/CS-7bLfippBcK.jpg" />谢兆龙</a>
</li>
<li>
<a href="#"><img src="/Files/Images/temp/CS-8CfUD7s9Ur.jpg" />潘雲萌</a>
</li>
<li>
<a href="#"><img src="/Files/Images/temp/CS-2o89EiCGKT.jpg" />李乐佳</a>
</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div id="schoolOverView" class="span4 relative overview">
<h3>名校风采</h3>
<a href="#" class="more">更多+</a>
<div class="well">
<ul class="unstyled">
  <li><a href="#"><img src="/Files/Images/temp/CS-Ao3gIoAAZs.jpg" /></a></li>
  <li><a href="#"><img src="/Files/Images/temp/CS-ThNJaETfir.jpg" /></a></li>
  <li><a href="#"><img src="/Files/Images/temp/CS-DKWc2KV5o8.jpg" /></a></li>
  <li><a href="#"><img src="/Files/Images/temp/CS-cVvf5UIkq7.jpg" /></a></li>
 </ul>
</div>
</div>
<div id="techerOverView" class="span4 relative overview">
<h3>名师风采</h3>
<a href="#" class="more">更多+</a>
<div class="well pull-left">
<ul class="unstyled">
  <li><a href="#"><img src="/Files/Images/temp/2011042218093792.jpg" />何超</a></li>
  <li><a href="#"><img src="/Files/Images/temp/2011092020504363373.jpg" />王静</a></li>
    <li><a href="#"><img src="/Files/Images/temp/2011092020504363373.jpg" />王静</a></li>
    <li><a href="#"><img src="/Files/Images/temp/2011042218093792.jpg" />何超</a></li>

    <li><a href="#"><img src="/Files/Images/temp/2011042218093792.jpg" />何超</a></li>
  <li><a href="#"><img src="/Files/Images/temp/2011092020504363373.jpg" />王静</a></li>
 </ul>
</div>
</div>
<div id="honoraryTeacherOverView" class="span4 relative overview">
<h3>名誉老师</h3>
<a href="#" class="more">更多+</a>
<div class="well">
<ul class="unstyled">
<li>
<a href="#"><img src="/Files/Images/temp/19517_1.jpg" />王贤忠</a>
<br />
<br />
<p>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博里塞维奇是剑桥大学第345任校长,他不仅有着杰出的领导和管理才能,而且在医学领域成绩斐然,他在宫颈癌研究方面取得巨大成就,因此于2001年被英国女王授予爵士封号。博里塞维奇校长自上任以来,非常重视与中国高校、学术机构发展合作关系,鉴于其崇高的学术声望和社会影响力,北大授予其名誉博士学位。
</p>
</li>
</ul>

</div>
</div>
</div>

<script src="@Url.Content("~/Scripts/ArtDream/OverViewManager.js")" type="text/javascript"></script>