@{
    ViewBag.Title = "名校风采-天津华夏未来少儿艺术中心";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="row">
 <div class="span12">
 <div class="details">

<h2>名校风采-天津华夏未来少儿艺术中心</h2>
<div class="details-content">
<div class="main1_right2">
				<div style="text-align:center;width:650px;margin:10px auto;">天津华夏未来少儿艺术中心</div>
				<div style="margin:10px auto; width:650px; text-align:center;"><img src="/Files/Images/temp/CS-ThNJaETfir.jpg"></div>
                <div style="text-align:left;width:650px;margin:10px auto;"><table cellspacing="0" cellpadding="0" width="100%" border="0">
<tbody>
<tr>
<td class="STYLE1" width="55%">&nbsp;&nbsp;&nbsp; <a href="http://www.cathayfuture.com"><strong><font color="#0000ff">天津市华夏未来少儿艺术中心</font></strong></a>坐落在天津市河西区体院北环湖中道3号，包括：15048平方米的一期大厦、19000平方米的二期大厦和53200平方米的华夏未来儿童公园。是面向少年儿童进行校外文化艺术教育与校外活动、国际文化艺术交流的重要基地。运用先进的管理理念、方法和设施，面向全市百万少年儿童进行艺术、语言、认知、科学、社会、运动等多领域的少儿教育和校外服务。</td>
<td class="STYLE1" width="45%">
<div align="center"><img height="142" src="http://www.cathayfuture.com/cathay/imes/1693701_755362.jpg" width="220"></div></td></tr></tbody></table>
<p><span class="STYLE1"><font color="#666666">　　</font><font color="#000000">华夏未来少儿艺术中心自成立以来，进一步完善了教育教学研究、管理机制和业务职能体系，下设华夏未来国际保育院、双语幼儿园、特长预备班、小学和亲子、外语、科技、文学、体育、美术、音乐、舞蹈、表演、拓展等十大品牌中心，近30个艺术教育基地遍及本市18个区县，每年开设音乐、舞蹈、绘画等艺术门类的五十余个科目的艺术培训班。年培训学员已达10万人次，培训学员在国际和全国的各类艺术比赛中多次获奖。<br><br>　　作为天津市对外文化交流的窗口，华夏未来少儿艺术中心先后主办、承办了全国少儿小提琴比赛、全国少儿歌手大赛、“小荷杯”全国少儿舞蹈比赛、第六届国际童声合唱节、天津国际少儿艺术节、世界儿童绘画大赛暨展览等大型国内、外少儿艺术活动。在各级领导的亲切关怀下，在各有关单位和海内外各界人士的热心支持下，华夏未来充分发挥全国青少年校外活动示范基地的作用，坚持办好华夏未来双周免费音乐会、艺术精品进校园、中小学生第二课堂、天津市少儿艺术大赛、天津市健康活力宝宝大赛、残疾儿童艺术节、敬老节、农村艺术教师免费培训班以及开展全国的“华夏大地行”演出交流等一大批好事、实事，受到社会各界的交口称赞。曾先后被评为全国文化先进单位、全国青少年校外活动示范基地、天津市“十五”立功先进集体、天津市爱国主义教育基地等。<br></font></span><br></p></div>
			</div>

</div>
 </div>
</div>
</div>
<script src="@Url.Content("~/Scripts/ArtDream/SchoolManager.js")" type="text/javascript"></script>
