@{
    ViewBag.Title = "名校风采";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>名校风采</h2>
<div class="row">
<div class="span12">
<div class="main1_right2">            
  <div class="tx1">
					<a href="/School/Details/1"><img src="/Files/Images/temp/CS-Ao3gIoAAZs.jpg"></a>
					<div class="mingzi"><a href="/School/Details/1">馨雅艺术培训中心</a></div>
				</div>
				             
  <div class="tx1">
					<a href="/School/Details/1"><img src="/Files/Images/temp/CS-ThNJaETfir.jpg"></a>
					<div class="mingzi"><a href="/School/Details/1">天津华夏未来少儿艺术中心</a></div>
				</div>
				             
  <div class="tx1">
					<a href="/School/Details/1"><img src="/Files/Images/temp/CS-DKWc2KV5o8.jpg"></a>
					<div class="mingzi"><a href="/School/Details/1">天津青年宫</a></div>
				</div>
				             
  <div class="tx1">
					<a href="/School/Details/1"><img src="/Files/Images/temp/CS-cVvf5UIkq7.jpg"></a>
					<div class="mingzi"><a href="/School/Details/1">天津青少年活动中心</a></div>
				</div>
				             
  <div class="tx1">
					<a href="/School/Details/1"><img src="/Files/Images/temp/CS-F6ckupdc7s.jpg"></a>
					<div class="mingzi"><a href="/School/Details/1">天津市少年宫</a></div>
				</div>
				             
  <div class="tx1">
					<a href="/School/Details/1"><img src="/Files/Images/temp/CS-ToDtkoUPpL.jpg"></a>
					<div class="mingzi"><a href="/School/Details/1">天津音乐学院</a></div>
				</div>
				 		  </div>
</div>
</div>
<script src="@Url.Content("~/Scripts/ArtDream/SchoolManager.js")" type="text/javascript"></script>