.relative
{
    position:relative;
}
.more
{
    position:absolute;
    top:0;
    right:0;
 }

#mainContent
{
    margin-top:50px;
}

.overview h3
{
    color:Green;
 }
 
 .overview li
 {
     margin-bottom:3px;
 }
 
 .slides_container {
   width:320px;
    height:180px;
   }
 .slides_container div {
      width:320px;
      height:180px;
      display:block;
 }
 
 #skillOverView ul li
 {
     width:240px;
     height:190px;
     float:left;
 }
 
 #skillOverView ul li img
 {
     width:235px;
     height:175px;
     float:left;
 }
 #ambassadorOverview ul li
 {
     width:150px;
     height:190px;
     float:left;
  }
  
#techerOverView ul li
{
     width:160px;
     height:170px;
     float:left;
}

#techerOverView ul li img
{
     width:150px;
     height:150px;
     float:left;
}

#honoraryTeacherOverView ul li img
{
   height:330px;
   width:330px;
}

#schoolOverView ul li 
{
    width:330px;
    height:125px;
}
#schoolOverView ul li img
{
    width:330px;
    height:120px;
}

  
#showOverview ul li
{
     width:160px;
     height:100px;
     float:left;
 }
 #showOverview ul li img
{
     width:150px;
     height:100px;
 }

#friendship-links ul li
{
    float:left;
    width:167px;
    height:60px;
}

#friendship-links ul li img
{
    width:145px;
    height:48px;
}

.carousel .item img
{
    width: 100%;
    height:360px;
}

.details
{
    margin: 20px auto;
}

.details h2
{
    text-align:center;
}
.details-content
{
    
}

.tx1
{ width:320px; text-align:center; margin:5px 10px;
  float:left;
}
.tx1 a img
{
    width:320px;
    height:160px;
}

/*--------------------logon start-----------------------*/
.login-panel {width: 408px;margin: 12px auto;}
/*--------------------logon end-------------------------*/