@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "文章管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
<div class="span12">
<h2>文章管理</h2>
</div>
</div>

<div class="row fix_top_40">
    <div class="span12">
        <div id="ActionStateInfo"></div>
    </div>
</div>
<div class="row">
    <div class="span3">
        <div class="action-panel">
            <a  class="btn btn-primary" href="javascript:_articleManager.ShowEditor(0)"><i class="icon-white icon-plus"></i>创建文章</a>   
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="well">
            @(Html.Telerik().Grid<ArtDream.Web.Models.ArticleListViewModel>()
                   .Name("ArticlesGrid")
           .Columns(columns =>
                        {
                            columns.Bound(d => d.Title).Title("标题");
                            columns.Bound(d => d.TypeName).Title("类型").Width(100);
                            columns.Bound(d => d.Published).Title("发布").Width(50);
                            columns.Bound(d => d.Id).ClientTemplate("<a href=\"javascript:_articleManager.ShowEditor(<#= Id#>)\" class='btn btn-primary'> <i class=\"icon-white icon-pencil\"></i>编辑</a>" +
                                                                    "<a href=\"javascript:_articleManager.ConfirmDelete(<#= Id#>)\" class='btn btn-danger' style=\"margin-left: 10px;\"><i class=\"icon-trash icon-white\"></i>删除</a>").Title("操作").Filterable(false).Width(160);
                        })

           .DataBinding(dataBinding => dataBinding.Ajax().Select("AjaxLoadingArticles", "Admin"))
           .Pageable((paging => paging.Enabled(true).PageSize(20).Style(Telerik.Web.Mvc.UI.GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom)))
           .Filterable(builder => builder.Enabled(true))
           .Resizable(g=>g.Columns(true))
           .Sortable(d=>d.Enabled(true))
           .Footer(true)
                  )
        </div>
    </div>
</div>
<div class="modal hide" id="articleEditorPanel">
 @Html.Partial("ArticleEditor",new ArtDream.Web.Models.ArticleViewModel())
</div>
<div class="modal hide" id="confirmDeleteArticle">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>确认删除？</h3>
    </div>
    <div class="modal-body">
       <div class="alert">
       你确定要删除此文章
       </div>
       </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Cancel</a>
        <a href="javascript:_articleManager.Delete()" class="btn btn-danger"><i class="icon-trash icon-white"></i>删除</a>
    </div>
</div>

<script src="@Url.Content("~/Scripts/ArtDream/Admin/ArticleManager.js")" type="text/javascript"></script>