@{
    ViewBag.Title = "名誉老师";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>名誉老师</h2>
<div id="techerOverView" class="relative">
<div class="pull-left">
<ul class="unstyled">
  <li><a href="/HonoraryTeacher/Details/1"><img src="/Files/Images/temp/2011042218093792.jpg" />何超</a></li>
  <li><a href="/HonoraryTeacher/Details/1"><img src="/Files/Images/temp/2011092020504363373.jpg" />王静</a></li>
    <li><a href="/HonoraryTeacher/Details/1"><img src="/Files/Images/temp/2011092020504363373.jpg" />王静</a></li>
    <li><a href="/HonoraryTeacher/Details/1"><img src="/Files/Images/temp/2011042218093792.jpg" />何超</a></li>

    <li><a href="/HonoraryTeacher/Details/1"><img src="/Files/Images/temp/2011042218093792.jpg" />何超</a></li>
  <li><a href="/HonoraryTeacher/Details/1"><img src="/Files/Images/temp/2011092020504363373.jpg" />王静</a></li>
 </ul>
 </div>
 </div>
<script src="@Url.Content("~/Scripts/ArtDream/HonoraryTeacherManager.js")" type="text/javascript"></script>