@{
    ViewBag.Title = "形象大使";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h2>形象大使</h2>
<div id="ambassadorOverview" class="relative">
<div class="pull-left">
<ul class="unstyled">
<li>
<a href="/Ambassador/Details/1"><img src="/Files/Images/temp/CS-FXqPh3Hw88.jpg" />张斯羿</a>
</li>
<li>
<a href="/Ambassador/Details/1"><img src="/Files/Images/temp/CS-7bLfippBcK.jpg" />谢兆龙</a>
</li>
<li>
<a href="/Ambassador/Details/1"><img src="/Files/Images/temp/CS-8CfUD7s9Ur.jpg" />潘雲萌</a>
</li>
<li>
<a href="/Ambassador/Details/1"><img src="/Files/Images/temp/CS-2o89EiCGKT.jpg" />李乐佳</a>
</li>
</ul>
</div>
</div>
<script src="@Url.Content("~/Scripts/ArtDream/AmbassadorManager.js")" type="text/javascript"></script>