@{
    ViewBag.Title = "名师风采";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

 <div class="row">
 <div class="span12">
 <div class="details">

<h2>名师风采-王静</h2>
<div class="details-content">
<div class="main1_right2">
				<div style="margin:15px 0 0 0;overflow:hidden;width:670px;">
					<div style="float:left;"><img src="/Files/Images/temp/2011092020504363373.jpg" width="143" height="191"></div>
					<div class="xxzl">
						<div class="xxzl_js">姓名：王静</div>
						<div class="xxzl_js">性别：女</div>
						<div class="xxzl_js">生日：1986年3月7日</div>
						<div class="xxzl_js">民族：汉族</div>
						<div class="xxzl_js">专业：英语</div>
                       <div class="xxzl_js">地区：天津</div>
                        <div style="width:460px;overflow:hidden;margin:0 0 0 10px;_margin:0 0 0 18px;">第八届“星星火炬”全国少年儿童英语风采展示活动全国总决赛<br>英语口语项目；小学B组；特金奖。</div>
					</div>
				</div>
			</div>

</div>
 </div>
</div>
</div>
<script src="@Url.Content("~/Scripts/ArtDream/TeacherManager.js")" type="text/javascript"></script>