@{
    ViewBag.Title = "最新公告";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}


<div class="row">
 <div class="span12">
 <div class="details">

<h2>顾长卫"星星的孩子"关注自闭症儿童 白岩松赠足球</h2>
<div class="details-content">
<div class="wz_nr">
                <div align="center">发布日期：2012-04-04</div>  
                   <p align="center">&nbsp;</p>
		           <p align="left" style="line-height:25px;">
		             中新网4月4日电 由蒋雯丽担任艺术监制、第六代导演陈苗执导、著名演员梁静主演的电影《星星的孩子》昨在京举行首映式，中央电视台主持人和晶百忙之中抽出时间为好朋友陈苗来担纲主持。中国少年儿童基金会等单位领导、著名导演顾长卫与影片的主创共同为电影揭幕。 
</p><table border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td><!--奥迪-->
<div id="adhzh" name="hzh">
<table border="0" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr>
<td></td></tr></tbody></table></div></td></tr></tbody></table>
<p></p>
<p>　　<strong>电影主创期许《星星的孩子》引发社会效益</strong></p>
<p>　　《星星的孩子》由盛唐环球(北京)传媒文化有限公司与上海苗子文化艺术咨询有限公司共同出品，将于5月8日-12日母亲节期间开始全国上映。影片讲述了一个年轻妈妈带着自闭症的儿子去东莞打工，寻找希望的心路历程。</p>
<p>　　影片出品人张蕊女士对影片公映后所产生的社会效益寄予厚望，她说希望通过这部电影让更多的人了解自闭症儿童这个群体。目前自闭症已成为儿童成长的一个潜在威胁，它虽然不可治愈，却可用科学的方法进行干预。从国际经验来看这样做的效果很好，部分孩子能做到生活自理，成年以后甚至可以从事简单的工作。我们作为文化传媒企业，除了呼吁社会关注、关爱自闭症儿童群体以外，更想告诉确诊或尚未确诊的儿童自闭症患者家庭，早发现早干预将有助于孩子的健康成长。</p>
<p>　　导演陈苗是一位长期将创作关注点聚焦于社会问题领域的电影人，这次她将目光投向自闭症儿童家庭也是源于一次电视新闻的报道，自此她开始进入到这个处于社会边缘的群体中，亲身感受到了儿童自闭症患者和他们的家庭所面对的社会环境、生活压力、家庭责任以及充满变数的未来所带给他们的艰难与困苦，迷茫与挣扎。感同身受的经历让她更能体会他们寻找希望、渴望理解、寻求帮助的生活境遇。所以对她来说拍摄《星星的孩子》这部电影既是缘分也是责任。</p>
<p>　　电影的艺术监制蒋雯丽目前正在辽宁赶拍一部名字叫做《娘要嫁人》电视剧。无法脱身的她让同样热心公益事业的老公顾长卫为她首次监制的电影站台宣传。顾长卫表示，中国是个幅员辽阔的国家，人多底子薄，社会发展很不均衡，更为窘迫的是我们的文化教育仍然非常落后。最直接的后果就是我们对很多疾病都缺乏科学的认识。他拍摄电影《最爱》就是希望大众能够科学的认识艾滋病，对艾滋病患者给予关爱和善待。陈苗导演拍摄《星星的孩子》也是同样希望我们的社会能够科学认识儿童自闭症，让社会关心善待这一弱势群体，让更多家庭学会运用科学的干预让孩子顺利成长。</p>
<p>　　<strong>梁静人红戏火携《星星的孩子》再上一层楼</strong></p>
<p>　　主演梁静说《星星的孩子》是她生完小儿子后接拍的第一部戏，算是复出之作。接这部戏除了是为好友蒋雯丽救场之外，最重要的原因是自己喜欢女主角梁铮铮这个角色。因为自己是两个孩子的妈妈，所以特别能理解一个妈妈，尤其是单亲妈妈带着一个患有自闭症的孩子面对社会压力和生存挑战时的复杂心境。也因为演出这部电影，让她了解了更多关于自闭症儿童以及他们的家庭所面临的种种困境和生存的不易。所以她希望能通过这部电影让更多的人知道自闭症，关爱自闭症，让更多的人和社会力量能为他们伸出援助之手。让我们这个社会变得更加有爱，更加和谐。</p>
<p>　　<strong>白岩松赠签名足球做礼物为星星的孩子献爱心</strong></p>
<p>　　原本计划出席电影首映式的中央电视台著名主持人白岩松，由于工作日程安排上的冲突未能亲身到场，但却送来了载满爱意关怀的礼物——签有央视明星足球队成员名字的足球。希望这份承载央视主持人球队心意的礼物能够表达他们关心、关注自闭症儿童群体的一份爱心。祝愿他们能和普通孩子一样顺利成长。</p>
<div id="function_code_page"></div><!--正文start--><!--编辑姓名start-->
<div style="MARGIN: 0px auto; WIDTH: 600px" class="left_name">
<div class="biaoqian">
<p></p></div><!--编辑姓名-->
<div class="left_name"></div></div><p></p>
 </div>

</div>
 </div>
</div>
</div>
