<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ArtDreamEntities" connectionString="metadata=res://*/ArtDream.csdl|res://*/ArtDream.ssdl|res://*/ArtDream.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ArtDream;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>